body{
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #d33a2c;
    width: 100%;
    height: 120px;
   /* margin-top: -10px; 
    margin-left: -8px;*/
    align-items: center;
}

.logo{
    margin-left: 45px;
    margin-top: 22px;
}
.logo img{
    width: 200px;
    height: 70px;
}

.nav-header ul, .nav-header li{
    list-style: none;
}
.nav-header a{
    text-decoration: none;
    color: white;
}
.nav-header a:hover{
    border-radius: 10px;
    padding: 8px 0 8px 0;
    background-color: darkred;
}

.nav-header{
    width: 70%;
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.nav-list{
    display: inline;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    padding-right: 20px;
}

.navbtn{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 22px;
    color: white;
    background-color: darkred;
    text-align: center;
    padding-right: 40px;
    
}
.navbtn:after{
    content: '';
    display: block;
    margin-left: 80px;
    margin-top: -30px;
    width: 30px;
    height: 30px;
    background-image: url("https://www.smashingmagazine.com/images/icons/menu-cat.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 90%;
}
.searchbtn{
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    margin-right: 50px;
    width: 400px;
    height: 62px;
}
.ilinksearch {
    position: absolute;
    font-size: 22px;
    padding-left: 35px;
    padding-top: 22px;
  }

.red{
    position: absolute;
    right: 4%;    
}
.red button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 70px;
    margin-top: 50px;
    font-size: 24px;
    padding-left: 50px;
    border: none;
    background-color: transparent;
    
}
.btnimg{
    width: 50px;
    border: 4px solid white;
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
    /*transform: translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));*/
    transform: rotate(-20deg);
}

.seriously{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.article-container{
    position: relative;
    background-color: #d33a2c;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);  
    min-height: 0;  
    
}

.article-container h1{
    
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 34%;
    /*margin-left: -240px;*/
    width: 15em;
    height: 80px;
    letter-spacing: -1px;
    z-index: 11;
    
    
}
.teaser span{
    padding: .3em .4em;
    background-color: white;
    line-height: 1.5em;
}
.articles{
    color: #fff;
    position: relative;
    font-weight: 700;
    display: block;
    padding: 10em 5vw 7em;
    /*display: flex;
    flex-direction: column;*/
    border: 1px solid silver;    
}
.author-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.author-info img{
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 15px;
    position: relative;
    transform:  translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
    
}
.author-info img:hover{
    transform-origin: 0 100%;
    transform: scale(.84);
    transition: transform .2s ease-out;

}
.author-info a, .article-title a, .tags a{
    text-decoration: none;
    color: white;
    
}
.author-name{
    font-size: 20px;
    /*vertical-align: middle;
    white-space: initial;
    margin: 1em 0 0 .6em;*/
}

.wrote{
    font-style: italic;
    font-weight: 400;
}
.article-title{
    font-size: 50px;
    text-transform: capitalize;    
}
.article-comments{
    text-transform: none;
    font-size: 20px;
}
.article-comments img{
    width: 40px;
    margin-bottom: -15px;
}
.tags li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 900;
}
.tags li::before{
    content: '#';
    color: #61140f;
    font-size: 22px;
    font-weight: 900;    
}
/*Membership*/
.membership{
    z-index: 1;
    padding: 1.5em 0;
    background: #282634;
    background-image: linear-gradient(#282634,#123456);
    color: #fff;
    position: relative;

}
.membership-content{
    /*background-color: turquoise;*/
    width: 80%;
    margin-left: 150px;
    margin-bottom: 35px;
    padding-top: 4%;
    display: flex;
    flex-direction: row;

}
.membershiptxt{
    justify-content: flex-start;
    max-width: 30em;
    text-align: left;
    font-size: 24px;
    
}
.greenbtn{
    background-color: green;
    color: white;
    border: 1px solid none;
    border-radius: 5px;
    justify-items: center;
}
.membershiptxt a{
    padding: 15px;
    color: white;
}
.membershiptxt p, ul{
    padding-bottom: 20px;
}
.membershipimg{
    margin-top: -150px;
    margin-left: 190px;
}
.membershipimg img{
    width: 350px;
    transform: rotate(-30deg);
    transition: transform .2s;
    transform-origin: 0 100%;
}   
.membershipimg img:hover{
    transform: scaleX(.87);
}
.membershiptxt button{
    position: absolute;
    right: 0;
    margin-top:-340px;
    margin-right: 160px;
    background-color: transparent;
    border: none; 
}

/*Grid 1*/
.latestposts{
    position: absolute;
    left: 0;
    margin-top: 90px;
    margin-left: -70px;
    text-transform: uppercase;
    transform: rotate(90deg);
}
.latest-articles{
    width: 100%;
    /*height: 700px;*/
    /*display: flex;
    flex-direction: row;*/
    justify-self: space-between;
    background-color: #f6f3f2;
    margin-right: -1rem;
    /*margin-left: ;*/
}
.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33333%;
    float: left;
    z-index: 1;
    position: relative;
    padding-top: 90px;
    /*padding-bottom: 70px;*/
}
#1:nth-of-type(1){
    order: 1;
}
.grid:hover{
    background-color: white;
    transform: scale(1.05);
    
}
.article-wrapper{
    
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    height: 750px;
    padding-left: 60px;
    padding-right: 60px;
    
}

.article-header time, .grid-author, .grid-author a{
    color: grey;
}
.article-header time{
    font-weight: 100;
    font-size: 14px;
}
.grid-title a{
    color: black;
    font-size: 28px;
}
.grid-content{
    font-size: 24px;
    margin-top: -200px;
}
.article--grid__read-more{
    display: block;
    transition: all .2s ease-out;
    color: #d33a2c;
    font-size: 30px;
    /*padding: 40px 1.7em;*/
    padding-top: 0.7em;
    padding-left: 10px;
    width: 120px;
    height: 80px;
    text-align: center;
    text-shadow: none;
    background: 0 0;
    
    /*margin-top: 20px;*/
    position: absolute!important;
    bottom: 0;
    left: 0;
}
.article--grid__read-more:hover{
    background-color: blue;
    color: white;
}
#readmore{
    text-decoration: none;
}

.grid-members{
    width: 65%;
    height: 700px;
    background-color: #d33a2c;
    border-radius: 10px;
    align-content: center;
    margin-top: 30px;
}
.grid-members:hover{
    background-color: #61140f;
}
.members{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}
.membersimg img{
    width: 250px;
}
.memberscontent{
    font-size: 24px;
    width: 80%;
}
.members-header{
    font-weight: 700;
    font-size: 56px;
    
}
.members-header a, .members-intro,.members-intro a, .members-signup, .members-signup a{
    color: white;
    
}
.members-intro{
    font-size: 26px;
}
.membersbtn{
    width: 350px;
    margin-left: 200px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    display: block;
    text-decoration: none;    
}
.memberssimg img{
    width: 200px;
}

.grid-memberss{
    width: 90%;
    height: 550px;
    background-color: #d33a2c;
    border-radius: 10px;
    align-content: center;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    padding-top: 50px;
}
.grid-memberss:hover{
    background-color: #d33a2c;
}
.memberss{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}
.memberssimg img{
    width: 250px;
}
.membersscontent{
    font-size: 24px;
    width: 80%;
}
.memberss-header{
    font-weight: 700;
    font-size: 56px;
    
}
.memberss-header a, .memberss-intro,.memberss-intro a, .memberss-signup, .memberss-signup a{
    color: white;
    
}
.memberss-intro{
    font-size: 26px;
}
.memberssbtn{
    width: 420px;
    margin-left: 300px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    display: block;
    text-decoration: none;    
}
.memberssimg img{
    width: 200px;
}
.more-articles{
    text-align: center;
    padding: 3.5em 0 5em;
}
.more-articles-link{
    font-size: 22px;
    text-decoration: none;
    border-bottom: 5px solid #d33a2c;
    padding-bottom: .7em;
    color: black;
}
.more-articles-link:after{
    content: ' → ';    
}

.bluesection{
    background-color: #1b71bb;
    background-image: linear-gradient(#1b71bb 45%,#4399d9 100%);
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    position: relative;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 3.5em 0;
}.blue-content{
    font-size: 24px;
}
.blue-header-link a{
    color: white;
    font-size: 46px;
}
.blue-title{
    width: 65%;
    padding-left: 320px;
    padding-bottom: 40px;
}
.bluebtn{
    font-size: 26px;
    text-decoration: none;
    color: #267dcc;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 12px;
    display: inline-block;
  
}

.blue-img img{
    display: block;
    width: 100%;
    max-width: 920px;
    margin: 2.5em auto;
    margin-bottom: -2em;
}
#community{
    position: absolute;
    left: 0;
    margin-top: 60px;
    margin-left: -60px;
    text-transform: uppercase;
    transform: rotate(90deg);
    word-spacing: 2px;
    font-size: 18px;

}
.main-dev{
    position: relative;
}

.dev-image {
    width: 230px;
    height: 230px;
    margin-top: 60px;  
    margin-left: 100px;
    border: 5px solid #d33a2c;
    border-radius: 15px;
    position: relative;
    transform: rotateZ(-15deg);
    transition: transform .2s;
    transform-origin: 0 100%;
    
   
}
.dev-image:hover{    
    transform: rotateZ(0);    
}
.main-dev-content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    margin-top: -10px;
}
.main-dev-text{
   /* flex: 1 1 0%;*/
    width: 60%;
    margin-right: 150px;
    font-size: 22px;
}

/*dev grid*/

.grid-devs{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,35%); 
    column-gap: 40px;    
}

.dev-img img{
    width: 100px;
    transform: rotate(-20deg);
    border: 5px solid #d33a2c;
    border-radius: 10px;
}
.dev-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}
.dev-title{
    font-size: 28px;
    margin-left: 189px;
    margin-top: -90px;
    
}
.dev-title a{
    color: black;
    text-decoration: none;
}
.article--post__time, .dev-name a, .dev-name{
    color: grey;
}
.dev-txt{
    font-size: 22px;
    color: black;
    word-spacing: 5px;
    margin-left: 189px;
    margin-right: 70px;
}
.devs{
    margin-top: 10px;
    position: relative;
    background-color: #f6f3f2;
}

.redsection{
    padding: 1.5em 0;
    color: #fff;
    position: relative;
    background-color: #d33a2c;
}
.red-img img{
    display: block;
    width: 100%;
    max-width: 920px;
    margin: 2.5em auto;
    margin-bottom: -2em;
}
.redtitlelink a{
    font-size: 48px;
    margin-left: -14px;
    color: #fff;
    
}
.redbtn{
    text-decoration: none;
    background-color: white;
}
.redtxt a{
    color: #267dcc;
}
.redimg{
    margin-top: -50px;
    margin-left: 260px; 
}

.layout-grid-area{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    
    row-gap: 20px;
}

.grid-layout{
    padding-right: 100px;
    padding-left: 30px;
    padding-bottom: 190px;
    background-color: #f6f3f2;
}
.layout-grid-content{
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 50px;
}
.layout-header span{
    font-size: 16px;
    display: block;
    margin-bottom: .5em;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: none;
    text-transform: uppercase;
}

.layout-header a{
    /*text-decoration: dashed;*/
    color: #19a972;
    font-size: 58px;
    padding: 10px 0;
    font-weight: bold;
}

.layout-txt{
    font-size: 24px;
    width: 550px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.layoutbtn{
    padding: 25px;
    background-color: #19a972;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.layout4-img img{
    width: 500px;
}
.layout4-mailbox{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 450px;
    margin-left: 50px;
    margin-top: -70px;
    
}

.layout4-email{
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    
    
}
.layout4-email::placeholder{
    font-size: 22px;
}
.layout4-btn{
    width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #0168b8;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    
}

.layout4-bottom{
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    border-radius: 11px;
    padding: .5em 1em;
    display: inline-block;
    background-color: #0067b859;
    margin-left: 120px;
    margin-top: 20px;
    width: 300px;
}

.layout4 {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 50px;
    background-color: #1b71bb;
    padding-bottom: 200px;
}
.layout4{
    grid-area: 2 2 3 3;

}